<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="guru demo site">

	<listeners>
		<listener class-name="com.gurudemo.utilities.Reporting" />
	</listeners>

	<test name="Test1">
		<classes>

			<!--  <class name="com.gurudemo.testcases.TC_Login_001"></class>-->
			<class name="com.gurudemo.testcases.TC_NewCustomer_002"></class>
			<!--  <class name="com.gurudemo.testcases.TC_CustomerEditPage"></class>-->
	

		</classes>

	</test>

</suite>